
<div class="mainContent">



    <div class="page organization">

            {{#if user.organization.organization_id}}

                    {{!-- Organization overview --}}

                    <div class='organization-options-item'>

                          <div class='title'>{{user.organization.name}}</div>

                          {{#ifEquals user.organization.permission "Owner - All Access"}}
                                <form action='/organization/delete' method='post'>
                          {{else}}
                                <form action='/organization/leave' method='post'>
                          {{/ifEquals}}

                          {{#if errors.deleteOrganization}}
                              <div class='organization-form-group' >
                                  <ul>
                                      {{#each errors.deleteOrganization as |error|}}
                                            <li>
                                              {{error}}
                                            </li>
                                      {{/each}}
                                  </ul>
                              </div>
                          {{/if}}
                          {{#if errors.leaveOrganization}}
                              <div class='organization-form-group' >
                                  <ul>
                                      {{#each errors.leaveOrganization as |error|}}
                                            <li>
                                              {{error}}
                                            </li>
                                      {{/each}}
                                  </ul>
                              </div>
                          {{/if}}

                            <div class='organization-form-group' style="padding-top:10px;">
                                  <div class='form-group-message'>
                                      <div class='message'>Your Permission Level</div>
                                          <div class='submessage'>{{user.organization.permission}}</div>

                                  {{!-- </div> --}}
                            {{!-- </div> --}}

                            {{!-- <div class='organization-form-group' > --}}

                              {{!-- <div class='form-group-message'> --}}
                                  <div class='message'>Invitation Connection String</div>
                                  <div class='submessage'>{{user.organization.organization_id}}</div>
                              {{!-- </div> --}}

                            {{!-- </div> --}}

                            {{!-- <div class='organization-form-group'> --}}

                              {{!-- <div class='form-group-message' style='padding:5px 10px;'> --}}

                                    <div class='input-confirmation '>
                                      <input type='checkbox' id='delete_checkbox' name='delete_checkbox'style='width:25px;' required />
                                    </div>

                                    <div class='message important'>
                                    <label for='delete_checkbox'>Confirmation</label>
                                    </div>

                                {{!-- <div class='submessage'>

                                    <input type='checkbox' id='delete_checkbox' name='delete_checkbox' required />
                                </div> --}}
                              </div>

                            </div>

                            <div class='organization-form-group button-container'>
                                {{#ifEquals user.organization.permission "Owner - All Access"}}
                                      <button class="create-button leave">Delete Organization</button>
                                {{else}}
                                      <button class="create-button leave">Leave Organization</button>
                                {{/ifEquals}}

                            </div>

                          </form>


                    </div>

                    {{!-- Manage Users --}}
                    <div class='organization-options-item'>
                              {{#ifEquals user.organization.permission 'Limited-Access' }}
                                    <div class='title'>Organization Members</div>
                              {{else}}
                                    <div class='title'>Manage Users</div>
                              {{/ifEquals}}

                              <form action='/organization/updatePermissions' method='post'>
                                {{#if errors.fetchOrganizationDetails }}
                                  <div class="organization-form-group" style="padding-top:10px;">

                                    <ul>
                                              {{#each errors.fetchOrganizationDetails as |error|}}
                                                    <li>
                                                      {{error}}
                                                    </li>
                                              {{/each}}

                                    </ul>
                                  </div>
                              {{/if}}

                              {{#if errors.updatePermissions }}
                                <div class="organization-form-group" style="padding-top:10px;">

                                  <ul>
                                            {{#each errors.updatePermissions as |error|}}
                                                  <li>
                                                    {{error}}
                                                  </li>
                                            {{/each}}

                                  </ul>
                                </div>
                            {{/if}}

                            {{#if message.updatePermissions }}
                              <div class="organization-form-group" style="padding-top:10px;">

                                <ul >
                                          {{#each message.updatePermissions as |submessage|}}
                                                <li class='message-list-item'>
                                                    {{submessage}}
                                                </li>
                                          {{/each}}

                                </ul>
                              </div>
                          {{/if}}


                                      <div class="organization-form-group" style="padding-top:10px;">

                                            <div class='form-group-message limitContent'>
                                                    {{#if organization}}
                                                              <div class='message'>

                                                                {{#ifEquals  organization.owner_email @root.user.email}}
                                                                    {{organization.owner_name}} <strong>(YOU)</strong> - {{organization.owner_email}}
                                                                {{else}}
                                                                    {{organization.owner_name}} - {{organization.owner_email}}
                                                                {{/ifEquals}}
                                                              </div>

                                                              <div class='submessage' style='margin-top:0'>
                                                                    Owner
                                                              </div>

                                                            {{#each organization.users as |organizationUser|}}

                                                              <div class='message'>
                                                                      {{#ifEquals  organizationUser.email @root.user.email}}
                                                                        {{organizationUser.name}} <strong>(YOU)</strong> - {{organizationUser.email}}
                                                                      {{else}}
                                                                        {{organizationUser.name}} - {{organizationUser.email}}
                                                                      {{/ifEquals}}
                                                              </div>

                                                                  {{#ifEquals @root.user.organization.permission 'Limited-Access'}}
                                                                      <div class='submessage'>
                                                                              Limited Access
                                                                      </div>
                                                                  {{else}}
                                                                        <div class='submessage permission'>
                                                                            <select name="{{organizationUser.email}}" id="permission">
                                                                                {{#ifEquals organizationUser.permission 'All-Access'}}
                                                                                      <option value="All-Access" selected >All Access</option>
                                                                                {{else}}
                                                                                      <option value="All-Access">All-Access</option>
                                                                                {{/ifEquals}}
                                                                                {{#ifEquals organizationUser.permission 'Limited-Access'}}
                                                                                    <option value="Limited-Access" selected>Limited Access</option>
                                                                                {{else}}
                                                                                  <option value="Limited-Access">Limited Access</option>
                                                                                {{/ifEquals}}
                                                                            </select>
                                                                        </div>
                                                                {{/ifEquals}}

                                                            {{/each}}

                                                  {{/if}}
                                            </div>


                                      </div>

                                      {{#ifEquals user.organization.permission 'Limited-Access' }}

                                      {{else}}
                                            <div class='organization-form-group button-container'>
                                                      <button class="create-button">Save Changes</button>
                                            </div>
                                      {{/ifEquals}}



                              </form>








                    </div>


            {{else}}
                    <div class='organization-options-item'>
                                <div class='title'>Create Your Organization</div>

                                <form action='/organization/create' method='post'>

                                  {{#if errors.createOrganization}}
                                      <div class='organization-form-group' >
                                          <ul>
                                              {{#each errors.createOrganization as |error|}}
                                                    <li>
                                                      {{error}}
                                                    </li>
                                              {{/each}}
                                          </ul>
                                      </div>
                                  {{/if}}

                                  <div class='organization-form-group' >
                                        <label for='organization_name' >Organization Name</label>
                                        <input type='text' id='organization_name' name='organization_name' placeholder='Your Organization Name..' required />
                                  </div>

                                  <div class='organization-form-group' >
                                        <label for='spreadsheet_url' >spreadsheet url</label>
                                        <input type='text' id='spreadsheet_url' name='spreadsheet_url' placeholder='Your Google Spreadsheet Url..' required />
                                  </div>

                                  <div class='organization-form-group' >

                                    {{!-- <div class='form-group-message'>
                                        <div class='message'>Please share your google spreadsheet with</div>
                                        <div class='email'>rccg-ushers@rccg-ushers-275614.iam.gserviceaccount.com </div>
                                    </div> --}}

                                    <div class='form-group-message'>
                                        <div class='message'>Please share your google spreadsheet with</div>
                                        <div class='email'>rccg-ushers@rccg-ushers-275614.iam.gserviceaccount.com </div>
                                        <div class='link'> <a href='https://docs.google.com/spreadsheets/d/1lW2UJ613xaa5uEgVJu5ncheN-qMjTBXcbLBHGuwz6WM/edit?usp=sharing' target="_blank">Spreadsheet Template</a> </div>
                                    </div>


                                    {{!-- https://docs.google.com/spreadsheets/d/1lW2UJ613xaa5uEgVJu5ncheN-qMjTBXcbLBHGuwz6WM/edit?usp=sharing --}}


                                  </div>

                                  <div class='organization-form-group button-container'>
                                      <button class="create-button">Create</button>
                                  </div>

                                </form>

                    </div>

                    <div class='organization-options-item'>
                                <div class='title'>Join An Organization</div>

                                <form action='/organization/join' method='post'>

                                  {{#if errors.joinOrganization}}
                                      <div class='organization-form-group' >
                                          <ul>
                                              {{#each errors.joinOrganization as |error|}}
                                                    <li>
                                                      {{error}}
                                                    </li>
                                              {{/each}}
                                          </ul>
                                      </div>
                                  {{/if}}

                                  <div class='organization-form-group' >
                                        <label for='connection_str' >Connection String</label>
                                        <input type='text' id='connection_str' name='connection_str' placeholder="The Organization's Connection String.." required />
                                  </div>


                                  <div class='organization-form-group button-container'>
                                      <button class="create-button">Join</button>
                                  </div>

                                </form>

                    </div>

          {{/if}}

    </div>

</div>
