<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">




    <script src="javascripts/importedScripts/jquery-3.5.0.min.js" ></script>
    <script src="javascripts/importedScripts/moment.min.js"></script>

    <script src="javascripts/importedScripts/sweetalert2.all.min.js" ></script>
    <script src="javascripts/importedScripts/Chart.min.js" ></script>

    <script src="javascripts/importedScripts/jspdf.min.js" ></script>
    <script src="javascripts/importedScripts/html2canvas.js" ></script>
    <script src="javascripts/importedScripts/html2canvas.min.js" ></script>
    <script src="javascripts/importedScripts/jspdf.plugin.autotable.js" ></script>

    <script src="javascripts/myScripts/requestsController.js" ></script>
    <script src="javascripts/myScripts/graphs.js" ></script>
    <script src="javascripts/myScripts/search.js" ></script>

    <script src="javascripts/myScripts/print.js" ></script>
    <script src="javascripts/myScripts/main.js" ></script>


    {{#ifEquals title 'Dashboard'}}
        {{#if user.organization.organization_id}}
            <script src="/javascripts/myScripts/mainInstance.js" ></script>
        {{/if}}
    {{/ifEquals}}

    <link type="text/css"   rel="stylesheet" href="/stylesheets/main.css" media="all"  />
    <link type="text/css"   rel="stylesheet" href="/stylesheets/graph.css" media="all"  />
    <link type="text/css"   rel="stylesheet" href="/stylesheets/search.css" media="all"  />
    <link type="text/css"   rel="stylesheet" href="/stylesheets/organization.css" media="all"  />


    <title> {{title}}</title>


  </head>
  <body >

    {{!-- <div>

    </div> --}}

    <div class='side-bar'>
          <div class='side-bar-title dashboard' onclick='window.location.href="/"'>Dashboard</div>

          {{#ifEquals title 'Organization'}}
            <div class='side-bar-item selected' onclick='window.location.href="/organization" ' >Organization</div>
          {{else}}
            <div class='side-bar-item' onclick='window.location.href="/organization" ' >Organization</div>
          {{/ifEquals}}


          {{#ifEquals title 'Settings'}}
            <div class='side-bar-item selected' onclick='window.location.href="/settings" ' >Settings</div>
          {{else}}
            <div class='side-bar-item' onclick='window.location.href="/settings" ' >Settings</div>
          {{/ifEquals}}

          {{#ifEquals title 'Overview'}}
            <div class='side-bar-item selected' onclick='window.location.href="/overview" ' >Overview</div>
          {{else}}
            <div class='side-bar-item' onclick='window.location.href="/overview" '>Overview</div>
          {{/ifEquals}}

          <div class='side-bar-item' onclick='window.location.href="/logout" ' >Logout</div>

    </div>



    <div class='hor-nav-bar'>

            {{#ifEquals user.organization.permission 'All-Access'}}
                <div class="hor-nav-item left search">
                   <input id='search-bar' type='text' placeholder='Search....' />
                </div>
            {{/ifEquals}}
            {{#ifEquals user.organization.permission 'Owner - All Access'}}
                <div class="hor-nav-item left search">
                   <input id='search-bar' type='text' placeholder='Search....' />
                </div>
            {{/ifEquals}}
            <div class="hor-nav-item right logo" > <img src="/images/rccg.png"/></div>
            <div class="hor-nav-item right" > <div class='name-text'>{{user.name}}</div></div>

    </div>

    {{#if user.organization.organization_id }}
          <div class="mainContent">


              <div class="page search" style='display:none'>
                            <div class='dashboard-return' >
                                  Return Back
                            </div>

                            <div class="search-container">
                              {{!-- <input type="text" class="inputSearch" placeholder="Search"  /> --}}
                                <div class="no-results ">
                                    No Results
                                </div>

                              <div class="search-results">
                                <table class="result-table">

                                </table>
                              </div>
                            </div>

                            {{!-- <div class="preview-container">


                            </div> --}}

                            <div class="result-preview-container" id='searchResults' >
                                  <div class="result-preview-content">
                                        <div class="filterBy" id="year-filter">Filter By Year</div>
                                        <div class="filterBy" id="month-filter" >Filter By Month</div>
                                        <div class="filterBy" id="day-filter" >Filter By Day  </div>
                                  </div>
                            </div>

              </div>
          </div>

      {{/if}}

    <div class='hbs-body-container'>
          {{{ body }}}
    </div>



  </body>
</html>
